/* Search bar */

.search {
  align-items: center;
  justify-content: center;
  margin: 20px 300px 20px 300px;
}

.search input {
  align-items: center;
  outline: none;
  /* flex-direction: row; */
  border: 0.5px solid gray;
  border-radius: 50px;
  width: 100%;
  margin-right: 15px;
  padding-left: 40px;
}

.search input::placeholder {
  text-align: center;
}

.search button {
  margin-right: 0;
  align-items: right;
  border-radius: 50px;
  width: 100px;
}

/* Corousal */

.home {
  margin-top: 120px;
}

.home .carousel {
  height: 50%;
}

.home .carousel-item img {
  height: 75vh;
  object-fit: cover !important;
  width: 100%;
}

.home .carousel-item h4 {
  color: rgb(244, 230, 230);
  text-shadow: 2px 2px #3b3f3b;
  padding-bottom: 4px;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}

/* Products */

.products {
  border-top: 0.5px solid gray;
  padding: 10px 30px;
  align-items: center;
}

.card {
  margin: 10px 35px;
  width: 25rem;
  height: 30%;
  box-shadow: 0 3.8px 3.2px gray;
}

.card-title {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 800;
}

.card-text {
  font-size: 15px;
  color: var(--text-gray);
  margin-bottom: 0;
}

.card img {
  width: 100%;
}

/* .products .card h5 {
    font-size: 25px;
    color: rgb(6, 13, 42);
    text-align: center;
} */

.card .card-body {
  /* height: 180px; */
  margin-bottom: 5px;
}

.cart-btn {
  cursor: pointer;
  color: var(--text-dark-blue);
  border: none;
  background-color: transparent;
  font-size: 20px;
}
